.homenav {
    width: 100%;
    position: fixed;
    top: -52px;
    background-color: var(--bg);
    border-bottom: 1px solid #7c7c7c30;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s;
}

.h4 {
    color: var(--accent);
}