.modal {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #0000005e;
    touch-action: none;
    display: block;

}

.hideModal {
    display: none;
}

.modalSheet {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
    animation: showModal 400ms;
}

.modalText {
    padding: 20px 0;
}

.buttons {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-family: 'Raleway', sans-serif;
    color: white;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 8px 12px;
    background-color: #0070f3;
}

@keyframes showModal {
    from {bottom: -10vh}
    to {bottom: 0;}
}

@media (min-width: 601px) {
    .modal {
        display: none;
    }
}