.nav {
    min-height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #7c7c7c2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--bg);
    z-index: 5;
}

.nav a, .nav span {
    font-size: .9rem;
    width: 60px;
}

.nav span {
    cursor: pointer;
}

.nav span:hover {
    color: var(--accent);
}

.nav a::after, .nav span::after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--accent);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav a:hover::after, .nav span:hover::after {
    transform: scaleX(1);
}

.navTitle {
    color: var(--accent);
    font-weight: 700;
    cursor: pointer;
    margin: 0;
}

.navRSpace {
    width: 60px;
}

@media (max-width: 600px) {
    .nav {
        min-height: 52px;
    }
}