html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.background {
  --bg: #181828;
  --color: #d3d3d3;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 500ms;
}

::selection {
  color: white;
  background: #0070f3;
} 

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #0070f3;
  border-color: #0070f3;
}

* {
  box-sizing: border-box;
}


.toggle {
  z-index: 10;
  position: fixed;
  top: 8px;
  right: 12px;
  --size: 1.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  transform: scale(0.7);
  box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
  border-radius: 999px;
  color: #fffb00;
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.7);
  --offset-diagonal: calc(var(--size) * 0.475);
  transition: all 500ms;
}

.toggle:checked {
  transform: scale(1);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  color: #bfbfd3;
}

.toggle:checked ~ .background {
  --bg: white;
  --color: black;
}