.container {
    min-height: 100vh;
    padding: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}


.h1 {
    margin-top: 100px; /* update according to instructions height */
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h1 h1 {
    margin: 8px 0 4px;
}

.h1 span {
    font-size: larger;
}

.h1Buttons a {
    background-color: var(--accent);
    border-radius: 100px;
    outline: none;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 8px 16px;
    font-size: 14px;
    transition-duration: 200ms;
}

.h1Buttons a:hover {
    box-shadow: 0px 0px 1px 10px #0071f32d;
}

.nextButton {
    background-color: var(--accent);
    border-radius: 100px;
    outline: none;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.nextButton:hover {
    box-shadow: 0px 0px 1px 10px #0071f32d;
}

.fonts {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 0px 30px 20px;
}

.font {
    border: 1px solid #7c7c7c35;
    border-radius: 6px;
    padding: 20px;
    transition-duration: 300ms;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100px;
}

.font:hover {
    background-color: var(--hoverColor);
    box-shadow: 0px 1px 8px 1px #20202023;
    color: var(--color);
    border: 1px solid #7c7c7c35;
}

.fontName {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: var(--gray);
    /* font-weight: 900; */
}

.fontText {
    font-size: 32px;
}

.gotoLearn {
    position: fixed;
    bottom: 0px;
    padding: 8px;
    border-top: 1px solid #7c7c7c2b;
    text-align: center;
    width: 100%;
    font-size: 14px;
    background-color: var(--bg);
    font-family: 'Product Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gotoLearn a {
    color: var(--accent);
}

@media (max-width: 900px) and (min-width: 601px) {
    .fonts {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {

    .h1 {
        margin-top: 60px;
    }
    
    .fonts {
        grid-template-columns: auto;
    }
}